
body {
  overflow-y: scroll; /* Locks scroll */
}

/*  {
  margin: 0%;
  outline: 1px solid red !important; 
}

*/

/* header + Navigation CSS  */

header {
  height: 7vh;
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  
  

}



nav {
  background-color: white;
  margin-left: auto;
  margin-right: 2.5%;
}

.nav_deco {
  background-color: rgb(214, 214, 228);
  height: 2px;
  width: 97%;
  align-items: center;
  margin: auto;
}



a {
  color: rgb(45, 45, 80);
  font-size: 3.5vw;
  margin-left: 5vw;
  font-family: "Open Sans", serif, Bold;
  text-decoration: none;
  
}

header nav a {
   font-size: 1.8753vw;
}


a:hover {

color: rgb(10, 10, 17);
background-color: rgb(247, 247, 247);

  
  
}

/* main + flexbox CSS  */

.container {
 
  justify-content: center;
  margin: 1.8vw;
 display: flex;
 flex-wrap: wrap;
}

.container article {


  margin: 1.8vw;
  height: 20em;
  width: 30em;
  transition: transform .2s;
  border-radius: 2.5vw;

}

.container article:hover {


  transform: scale(1.1);

}

.container img {

  width: auto;
  height: auto;
  object-fit: cover;
  transition: transform .2s;
  border-radius: 2.5vw;
  margin: 1.8vw;
  max-width: 25%

}

.container img:hover {


  transform: scale(1.1);

}

.container video {

  width: auto;
  height: auto;
  max-width: 50%;
  transition: transform .2s;
  border-radius: 2.5vw;
  margin: 1.8vw;
  

}

.planet {

  height: 1px;
  object-fit: none;

}

.container video:hover {


  transform: scale(1.1);

}

.container iframe {


  max-width: 50%;
  transition: transform .2s;
  border-radius: 2.5vw;
  margin: 1.8vw;
  

}


/* Modal */

.modal {
  
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.2);
  display: none; 
  position: fixed; 
  z-index: 1; 
  overflow: auto;
  

}

.modal-content {
  background-color: white;
  height: 80vh;
  width: 70vw;
  z-index: 0;
  margin: auto;
  display: block;
  margin-top: 10vh;
  border-radius: 33px;
  
}

.close {
  
 font-size: 40px;
 width: 50px;
 height: 50px;
 margin-left: 93%;
 background-color: lightgray;
 border-radius: 1000px;
 text-align: center;
 
}

.video-image {
  width: 80%;
  height: 87%;
  background-color: lightgray;
  margin: auto;
  position:relative;
  border-radius:  2.5vh;
}


/* About section  */










  
  






